<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head lang="en">
		<title>Spring MVC - New Customer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
		
		<script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
			th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
		
		<link href="../static/css/spring-core.css"
			th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
	</head>
	<body>
		<div class="container">
			<h2>Customer Details</h2>
			<div>
				<form class="form-horizontal" th:object="${customer}" th:action="@{/customer}" method="post">
					<input type="hidden" th:field="*{id}" />
					<!-- <input type="hidden" th:field="*{version}" /> -->
					<div class="form-group">
						<label class="col-sm-2 control-label">First Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{firstName}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">LastName:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{lastName}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Address Line One:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{addressLineOne}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Address Line Two:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{addressLineTwo}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">City:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{city}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">State:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{state}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Pincode:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{pincode}" />
						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>