<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
	<title>Spring MVC - List Customers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
	
	<script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	
	<link href="../static/css/spring-core.css"
		th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div th:if="${not #lists.isEmpty(customers)}" >
			<h2>Customer List</h2>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>FIRST NAME</th>
					<th>LAST NAME</th>
					<th>ADDRESS LINE ONE</th>
					<th>ADDRESS LINE TWO</th>
					<th>CITY</th>
					<th>STATE</th>
					<th>PINCODE</th>
					<th>List</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.id}"></td>
					<td th:text="${customer.firstName}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.addressLineOne}"></td>
					<td th:text="${customer.addressLineTwo}"></td>
					<td th:text="${customer.city}"></td>
					<td th:text="${customer.state}"></td>
					<td th:text="${customer.pincode}"></td>
					<td><a th:href="${'/customer/' + customer.id}">View</a></td>
					<td><a th:href="${'/customer/edit/' + customer.id}">Edit</a></td>
					<td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>
				</tr>
			</table>
		</div>
		<div class="row">
			<a th:href="${'/customer/new'}">New Customer</a>
		</div>
	</div>
</body>
</html>